# don't ever lint node_modules

\*_/node_modules/_

# don't lint build output (make sure it's set to your correct build folder name)

dist

# don't lint nyc coverage output

coverage
**/.next/\*
_.png
_.gif
_.svg
_.json
_.xml
_.ico
_.txt
_.webmanifest
_.lock
_.jpg
_.jpeg
_.mjs
_.scss
_.md
**/out/\*
next-env.d.ts

# next.config.js
