.p-tabview .p-tabview-panels {
    padding: 0rem !important;
}

// .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
//     background: #ffffff;
//     border-color: #2196f3;
//     color: #008eff;
//     background-color: #50ea1969;
// }

.justify-content-center {
    justify-content: center !important;
}

.card-primereact {
    background: var(--surface-card);
    border: 1px solid var(--surface-border);
    padding: 0.5rem;
    margin-bottom: 2rem;
    box-shadow: var(--card-shadow);
    border-radius: 12px;
}
.col-4,
.col-5 {
    flex: 0 0 auto;
    padding: 0.5rem;
}
.col-4 {
    width: 33.3333%;
}
